---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '435'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "penneylicious", "bio":
        "\"Nature does not hurry, yet everything is accomplished...\"", "website":
        "http://www.dream-of-green.com", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "full_name": "Penney Gadget", "counts": {"media": 9, "followed_by": 129, "follows":
        166}, "id": "269242292"}}'
  recorded_at: Fri, 19 Feb 2016 03:42:52 GMT
recorded_with: VCR 3.0.1
