---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": [], "type": "image", "location": {"latitude": 39.753785964,
        "name": "Clear Creek Canyon", "longitude": -105.239999258, "id": 4911355},
        "comments": {"count": 3}, "filter": "Clarendon", "created_time": "1455745494",
        "link": "https://www.instagram.com/p/BB5yaqQo9fH/", "likes": {"count": 9},
        "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12677646_1039553569419064_1246118943_n.jpg?ig_cache_key=MTE4NzIwMTcxMTE5NzExNjM1OQ%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/12677646_1039553569419064_1246118943_n.jpg?ig_cache_key=MTE4NzIwMTcxMTE5NzExNjM1OQ%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12677646_1039553569419064_1246118943_n.jpg?ig_cache_key=MTE4NzIwMTcxMTE5NzExNjM1OQ%3D%3D.2",
        "width": 640, "height": 640}}, "users_in_photo": [], "caption": {"created_time":
        "1455745494", "text": "Another beautiful day at the crag", "from": {"username":
        "penneylicious", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "id": "269242292", "full_name": "Penney Gadget"}, "id": "1187201719124350395"},
        "user_has_liked": false, "id": "1187201711197116359_269242292", "user": {"username":
        "penneylicious", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "id": "269242292", "full_name": "Penney Gadget"}}, {"attribution": null, "tags":
        [], "type": "image", "location": {"latitude": 39.7392, "name": "Denver, Colorado",
        "longitude": -104.984, "id": 4599325}, "comments": {"count": 3}, "filter":
        "Clarendon", "created_time": "1450883020", "link": "https://www.instag[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187201711197116359_269242292/comments?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
   [...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1146412328244467283_269242292/comments?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '498'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"created_time": "1455826237", "text":
        "picture comment!!!!!!!!", "from": {"username": "justinpease1", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}, "id": "1187879034300913376"}]}'
  recorded_at: Fri, 19 Feb 2016 16:43:39 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "penneylicious", "bio":
        "\"Nature does not hurry, yet everything is accomplished...\"", "website":
        "http://www.dream-of-green.com", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "full_name": "Penney Gadget", "counts": {"media": 9, "followed_by": 129, "follows":
        166}, "id": "269242292"}}'
  recorded_at: Fri, 19 Feb 2016 16:43:42 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1083637064335087441_269242292/comments?access_token=269242292.27722ba.9ac02877c3ab47cda4bdbf2648f6876e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '500'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Fri, 19 Feb 2016 16:43:49 GMT
recorded_with: VCR 3.0.1
