.container-home {
  background-color: #451433;
  min-height: 100vh;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: #F8BB44;
}

.home-message.rounded {
  margin-top: 100px;
  border-style: solid;
  padding: 50px;
  border-radius: 10px;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}

.poppies {
  padding-top: 20vh;
}

.dashboard {
  margin-top: 50px;
}

.dashboard-buttons {
  margin-top: 150px;
}

.user-bio {
  font-family: 'Over the Rainbow', cursive;
}

.image-info {
  border-style: solid;
  padding: 5px;
  border-radius: 10px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
}

.user-image {
  padding: 20px;
}

.user-post {
  border-style: solid;
  border-radius: 10px;
  padding-top: 75px;
}

.images {
  padding: 60px;
}

.image-show {
  border-style: solid;
  border-radius: 10px;
  border-color: #FAF7D7;
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.image-comments {
  color: #FAF7D7;
  padding-top: 50px;
  font-family: 'Amatic SC';
  font-size: 2em;
  opacity: 0;
}

.follow-header, .peeps {
  color: #FAF7D7;
  padding-top: 50px;
  font-family: 'Amatic SC';
}
.peeps {
  font-size: 1.6em;
}
